<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html>
    <head lang='en'>
        <meta charset="UTF-8" />
        <title>
            Rango - 
            {% block title_block %}
                
            {% endblock %}
        </title>
    </head>
    <body>
        <div class= top_line>
            <h1>
                Arty Party
            </h1>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'arty:myaccount'%}">my account</a></li>
                <!-- Show these links when the user is logged in -->                
            {% else %}
                <!-- Show these links when the user is NOT logged in -->
                <li><a href="{% url 'arty:login' %}">Login</a></li>
            {% endif %}
                <!-- Outside the conditional statements, ALWAYS show -->
                <li><a href="{% url 'arty:about' %}">About</a></li>
                <li><a href="{% url 'arty:contact_us %}"></a>Contact</li>
            </ul>
        </div>

        <div class= index_line>
            <ul>
                <li><a href="{% url 'arty:home' %}">Homepage</a></li>
                <li><a href="{% url 'arty:gallaries %}"></a>Galleries</li>
            </ul>
        </div>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>
    <!--
        <div>
            <ul>
            {% if user.is_authenticated %}
                
                <li><a href="{% url 'artyParty:gallaries' %}">Gallaries Page</a></li>
                <li><a href="{% url 'artyParty:logout' %}">Logout</a></li>
                <li><a href="{% url 'artyParty:add_gallary' %}">Add New Gallery</a></li>
            {% else %}
                
                <li><a href="{% url 'artyParty:register' %}">Sign Up</a></li>
                <li><a href="{% url 'artyParty:login' %}">Login</a></li>
            {% endif %}
                
                <li><a href="{% url 'artyParty:about' %}">About</a></li>
                <li><a href="{% url 'artyParty:index' %}">Index</a></li>
            </ul>
        </div> 
    -->
    </body>
</html>