{% extends "artyParty/base.html" %}
{% load staticfiles %}

{% block title_block %}
    {% if gallery %}{{ gallery.gallery_name }}{% else %}
    Unknown Gallery
    {% endif %}
{% endblock %}

<!--proof of concept for breadcrumb trail-->
{% block extral_index_block %}
<li><a href="{% url 'arty:show_gallery' gallery.slug %}">Pieces in {{ gallery.gallery_name }}</a></li>
{% endblock %}

{% block body_block %}
    <script>
        $(document).ready(function(){
            $("#user-input").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
<!--https://openfolder.sh/django-tutorial-as-you-type-search-with-ajax-->
    <div class="container">
        <div class="search_bar">
            <h2>{{ gallery.gallery_name }}</h2>
            
            <div class="col-6 align-left">
{#                <form class="form-inline">#}
{#                    <i id="search-icon" class="fas fa-search" aria-hidden="true"></i>#}
{#                    <input  id="user-input" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search..." aria-label="Search">#}
{#                </form>#}




                <form class="form-inline" role="search">
                    <i id="search-icon" class="fas fa-search" aria-hidden="true"></i>
                    <input type="text" class="form-control form-control-sm ml-3 w-75" name="q" id="user-input" placeholder="Search..." aria-label="Search for pieces">
                    <button class="">Search</button>
                </form>
            </div>
        </div>

        {% if gallery %}
            {% if pieces %}
                <table class="table wells">
                    <thead class="opacity1">
                        <tr>
                            <th class="col-sm-4">Art Piece Image</th>
                            <th class="col-sm-4">Art Piece Name</th>
                            <th class="col-sm-4">Art Piece description</th>
                        </tr>
                    </thead>
                    <tbody class="opacity1" id="myTable">
                        <div id="replaceable-content">
                            {% include 'artyParty/pieces_results_partial.html' %}
                        </div>
                    </tbody>
                </table>
            {% else %}
                <strong>There are no pieces present.</strong>
            {% endif %}
        {% else %}
            <strong>There are no galleries present.</strong>
        {% endif %}
    </div>
{% endblock %}