{% extends 'artyParty/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Galleries
{% endblock %}

{% block body_block %}
    {% if galleries %}
        <div class="container-fluid">
            <table class="table well">
                <thead class="opacity1">
                    <tr>
                        <th class="col-sm-4">Gallery Image</th>
                        <th class="col-sm-4">Gallery Name</th>
                        <th class="col-sm-4">Gallery description</th>
                    </tr>
                </thead>
                <tbody class="opacity1">
                {% for g in galleries %}
                <tr>
                    <td>
                        <img src="{{g.gallery_img.url}}" class="img-responsive"></img>
                    </td>
                    <td>
                        <a href="{{ g.slug }}/">{{ g.gallery_name }}</a>
                    </td>
                    <td>
                        <p>{{ g.gallery_description }}</p>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <strong>There are no galleries present.</strong>
        {% endif %}
    </div>
{% endblock %}