{% extends 'artyParty/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <div>
        <li class="slider_item" data-index="0"><img class="focus-item-image" src="" alt=""></li>
        <li class="slider_item" data-index="1"><img class="focus-item-image" src="" alt=""></li>
        <li class="slider_item" data-index="2"><img class="focus-item-image" src="" alt=""></li>
        <li class="slider_item" data-index="3"><img class="focus-item-image" src="" alt=""></li>
    </div>

    <div>
        <h2> What is ArtyParty </h2>
        <p></p>
    </div>
    <div>
        <h2> Why ArtyParty </h2>
        <p></p>
    </div>
    <div>
        <h2> Cases </h2>
        <img src="" alt="case_image">
        <p></p>
    </div>
{% endblock %}