{% extends 'artyParty/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login      
{% endblock %}

{% block body_block %}
<div class="container wells">
    <form id="login_form" method="post" action="{% url 'arty:login' %}">
        {% csrf_token %}
        <div class ="form-group">
            <label for="text">Username:</label>
            <input type="text" class="form-control" name="username" value="" size="50" />
        </div>
        <div class ="form-group">
            <label for="text">Email:</label>
            <input type="email" class="form-control" name="email" value="" size="50" />
        </div>
        <div class ="form-group">
            <label for="text">Password:</label>
            <input type="password" class="form-control" name="password" value="" size="50" />
        </div>
        <input type="submit" class="btn btn-default" value="submit" />
        <input type=button class="btn btn-default" value="Sign up" οnclick="window.location.{% url 'arty:sign_up' %}">
        <input type=button class="btn btn-default" value="Back to home page" οnclick="window.location.{% url 'arty:home' %}">
    </form>
</div>
<img src="" alt="">
{% endblock %}  