{% extends 'artyParty/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login      
{% endblock %}

{% block body_block %}
<img src="" alt="">
<form id="login_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Email: <input type="email" name="email" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
    <br />
    <input type=button value="Sign in" οnclick="window.location.{% url 'sign_in' %}">
    <br />
    <input type=button value="Back to home page" οnclick="window.location.{% url 'home' %}">
</form>
<img src="" alt="">
{% endblock %}  