{% extends 'artyParty/base.html' %}
{#{% url 'arty:piece' gallery_name_slug=gallery_name_slug piece_name_slug=piece_name_slug %}#}
{% load staticfiles %}

{% block title_block %}
    {% if piece %}
        {{ piece.piece_name }}
    {% else %}
        Unknown Gallery
    {% endif %}
{% endblock %}

{% block extral_index_block %}
<li><a href="{% url 'arty:pieces' %}">Homepage</a></li>
{% endblock %}

{% block body_block %}
<div class="search_bar">
    <!-- change if name in modelds/populate are difference  '-gallery-' -->>
    <h2>Art Piece</h2>
    <form class="form" role="search">
        <input type="search" class="query" name="q"
         placeholder="Search..."
         aria-label="Search through site content">
        <button>Search</button>
      </form>
</div>
<div>
    {% if gallery %}
    <h1>{{ gallery.gallery_name }}</h1>
    {% if pieces %}
    <ul>
        <!-- changed if name in modelds/populate are difference  '-pieces- -gallery- -image_url-' -->>
        {% for page in pages %}
        <li><a href="{{ piece.url }}"><img src="{{ piece.image_url }}" alt="piece in gallary"></a></li>
        <li>{{ pieces.piece_name }}</li>
        <li>{{ pieces.author }}</li>
        <li>{{ pieces.period }}</li>

        {% endfor %}
    </ul>
    {% else %}
    <strong>No pieces currently in gallery.</strong>
    {% endif %}
    {% if user.is_owner or user.is_power_user %}
    <a href="{% url 'arty:add_piece' gallary.slug %}">Add Pieces</a> <br />
    {% endif %}
    {% else %}
    The specified gallery does not exist.
    {% endif %}
</div>


{% endblock %}