{% extends 'artyParty/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if piece %}{{ piece.piece_name }}{% else %}
    Unknown Piece
    {% endif %}
{% endblock %}

{% block extral_index_block %}
    <li><a href="{% url 'arty:show_gallery' gallery.slug %}">{{ gallery.gallery_name }}</a></li>
    <li><a href="{% url 'arty:piece' gallery.slug piece.slug %}">{{ piece.piece_name }}</a></li>
{% endblock %}

{% block body_block %}
    <div class="container">
        {% if piece %}
            <div class="row">
                <h1>{{ piece.piece_name }}</h1>
                <hr>

                <div class="col-sm-4 list-group">
                    <ul class = "">
                        <li class="list-group-item">Name: <span class="badge">{{ piece.piece_name }}</span></li>
                        <li class="list-group-item">author: <span class="badge">{{ piece.author }}</span></li>
                        <li class="list-group-item">date: <span class="badge">{{ piece.period }}</span></li>
                    </ul>

                    <div class="wells">
                        <p class="description">{{ extract }}</p>
                    </div>
                </div>
                <img src="{{piece.piece_img.url}}" alt="piece image" class="col-sm-8">
            </div>
            <br>
            <div class="wells">
                <div class="row">
                    <h4 class="col-sm-6">Comments</h4>
                    {% if user.is_authenticated %}
                        <a class="col-sm-6" href="{% url 'rango:add_review' gallary.slug %}">Add Review</a> <br />
                    {% endif %}
                </div>
                {% if reviews %}
                    <div class="container">
                        {% for review in reviews %}
                            <div class="wells less_wide row">
                                <span class="badge col-sm-1 big">{{ review.rating }}</span>
                                <p class="col-sm-10 blue">{{ review.review }}</p>

                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            The specified piece does not exist.
        {% endif %}

    </div>
{% endblock %}
