{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Myaccount           
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
    <form id="personal_detail" method="post" action="save.php">
        {% csrf_token %}
        <option value="Username">{{ user.Username }}</option>
        <br />
        <label for="{{ user.Email}}">Email: </label>
        <br />
        <option value="Birthday"> </option>
        <br />
        <option value=""></option>
        <input type="reset" value="edit details">
    </form>
        
        {% if user.is_power_user %}
        <button><a href="{% url 'add_piece' %}">add pieces</a></button>
        <button><a href="{% url 'posts' %}">view posts</a></button>
            {% if user.is_owner %}
            <button><a href="{% url 'add_gallery' %}">add gallery</a></button>
            <button><a href="{% url 'manage_users' %}">manage users</a></button>
            {% endif %}
        {% endif %}
    {% else %}
        Please login to access details.
        <br>
        Click <a href="">here</a> to login.
    {% endif %}
{% endblock %}